[bumpversion]
current_version = 0.5.1-alpha0
commit = True
tag = False
tag_name = v{new_version}
message = Update version [{now:%Y-%m-%d %H:%M:%S}]: {current_version} → {new_version}
parse = ^(0|[1-9]\d*)\.(0|[1-9]\d*)\.(0|[1-9]\d*)(?:-((?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\.(?:0|[1-9]\d*|\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\+([0-9a-zA-Z-]+(?:\.[0-9a-zA-Z-]+)*))?$

serialize = 
	{major}.{minor}.{patch}-{release}.{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = alpha
values = 
	alpha
	rc
	prod
	post

[bumpversion:file:pyproject.toml]
